# Aadhar Enrollment Analysis

### Importing Libraries

In [1]:
import pandas as pd 
import warnings

## Loading Dataset

In [2]:
file_1 = pd.read_csv('api_data_aadhar_enrolment_0_500000.csv')
file_2 = pd.read_csv('api_data_aadhar_enrolment_500000_1000000.csv')
file_3 = pd.read_csv('api_data_aadhar_enrolment_1000000_1006029.csv')

In [3]:

print(file_1.columns.equals(file_2.columns))
print(file_2.columns.equals(file_3.columns))

True
True

In [4]:
# identifying mis-matches
set(file_1.columns) ^ set(file_2.columns)

set()

In [5]:
# concatenate the csv's
aadhar_raw = pd.concat(
    [file_1, file_2, file_3],
    axis=0,
    ignore_index=True
)

In [6]:
aadhar_raw.shape

(1006029, 7)

### Note:
The Aadhaar enrolment dataset was provided in multiple file partitions due to size constraints. All files were loaded using a consistent schema and concatenated vertically to reconstruct the complete dataset for analysis.

## Data Validation & Cleaning

In [9]:
aadhar_raw['state'].unique()

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh',
       'Tamil Nadu', 'Chhattisgarh', 'Jharkhand', 'Nagaland', 'Manipur',
       'Telangana', 'Tripura', 'Mizoram', 'Jammu and Kashmir',
       'Chandigarh', 'Sikkim', 'Odisha', 'Kerala',
       'The Dadra And Nagar Haveli And Daman And Diu',
       'Arunachal Pradesh', 'Himachal Pradesh', 'Goa',
       'Jammu And Kashmir', 'Dadra and Nagar Haveli and Daman and Diu',
       'Ladakh', 'Andaman and Nicobar Islands', 'Orissa', 'Pondicherry',
       'Puducherry', 'Lakshadweep', 'Andaman & Nicobar Islands',
       'Dadra & Nagar Haveli', 'Dadra and Nagar Haveli', 'Daman and Diu',
       'WEST BENGAL', 'Jammu & Kashmir', 'West  Bengal', '100000',
       'Daman & Diu', 'West Bangal', 'Westbengal', 'West bengal',
       'andhra pradesh', 'ODISHA', 'WESTBENGAL'], dtype=object)

In [11]:
aadhar_raw.loc[aadhar_raw['state']== '100000']

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
23108,02-09-2025,100000,100000,100000,0,0,3
46946,03-09-2025,100000,100000,100000,0,0,1
97816,08-09-2025,100000,100000,100000,0,0,1
115798,09-09-2025,100000,100000,100000,0,0,1
153156,11-09-2025,100000,100000,100000,0,0,2
160195,12-09-2025,100000,100000,100000,0,0,2
261778,19-09-2025,100000,100000,100000,0,0,1
272731,20-09-2025,100000,100000,100000,0,0,1
470934,24-10-2025,100000,100000,100000,0,1,0
762744,15-11-2025,100000,100000,100000,0,0,3
780936,16-11-2025,100000,100000,100000,0,0,2
791621,17-11-2025,100000,100000,100000,0,0,4
823985,19-11-2025,100000,100000,100000,0,0,2
861631,15-12-2025,100000,100000,100000,0,0,161
914457,24-12-2025,100000,100000,100000,0,0,1
929221,25-12-2025,100000,100000,100000,0,0,4
947831,26-12-2025,100000,100000,100000,0,0,3
959114,27-12-2025,100000,100000,100000,0,0,4
960973,27-12-2025,100000,100000,100000,0,0,4
968919,28-12-2025,100000,100000,100000,0,0,5
976509,29-12-2025,100000,100000,100000,0,0,8
988283,31-12-2025,100000,100000,100000,0,0,4

In [13]:
aadhar_raw = aadhar_raw[aadhar_raw['state'] != '100000']

In [16]:
aadhar_raw.loc[aadhar_raw['state']== '100000']

Empty DataFrame
Columns: [date, state, district, pincode, age_0_5, age_5_17, age_18_greater]
Index: []

In [20]:
df_copy = aadhar_raw.copy()

In [21]:
df_copy['state']= (
    df_copy['state']
    .astype(str)
    .str.strip()
    .str.lower()
    .str.replace('&', 'and', regex=False)
    .str.replace(r'\s+', ' ', regex=True)
)

In [25]:
df_copy['state'].unique()

array(['meghalaya', 'karnataka', 'uttar pradesh', 'bihar', 'maharashtra',
       'haryana', 'rajasthan', 'punjab', 'delhi', 'madhya pradesh',
       'west bengal', 'assam', 'uttarakhand', 'gujarat', 'andhra pradesh',
       'tamil nadu', 'chhattisgarh', 'jharkhand', 'nagaland', 'manipur',
       'telangana', 'tripura', 'mizoram', 'jammu and kashmir',
       'chandigarh', 'sikkim', 'odisha', 'kerala',
       'the dadra and nagar haveli and daman and diu',
       'arunachal pradesh', 'himachal pradesh', 'goa',
       'dadra and nagar haveli and daman and diu', 'ladakh',
       'andaman and nicobar islands', 'orissa', 'pondicherry',
       'puducherry', 'lakshadweep', 'dadra and nagar haveli',
       'daman and diu', 'west bangal', 'westbengal'], dtype=object)

In [23]:
state_mapping = {
    
    'west bengal': 'West Bengal',
    'west bangal': 'West Bengal',
    'westbengal': 'West Bengal',

    
    'orissa': 'Odisha',
    'odisha': 'Odisha',

    
    'pondicherry': 'Puducherry',
    'puducherry': 'Puducherry',

    
    'jammu and kashmir': 'Jammu and Kashmir',
    'jammu and kashmir ': 'Jammu and Kashmir',
    'jammu and kashmir': 'Jammu and Kashmir',

    
    'dadra and nagar haveli': 'Dadra and Nagar Haveli and Daman and Diu',
    'daman and diu': 'Dadra and Nagar Haveli and Daman and Diu',
    'dadra and nagar haveli and daman and diu':
        'Dadra and Nagar Haveli and Daman and Diu',

    
    'andaman and nicobar islands': 'Andaman and Nicobar Islands',

    
    'andhra pradesh': 'Andhra Pradesh'
}

In [29]:
df_copy['state'] = df_copy['state'].map(state_mapping).fillna(df_copy['state'].str.title())
sorted(df_copy['state'].unique())

['Andaman And Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra And Nagar Haveli And Daman And Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu And Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'The Dadra And Nagar Haveli And Daman And Diu',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [33]:
df= df_copy

In [34]:
df['district'].unique()

array(['East Khasi Hills', 'Bengaluru Urban', 'Kanpur Nagar', 'Aligarh',
       'Sitamarhi', 'Bahraich', 'Firozabad', 'Purbi Champaran',
       'Maharajganj', 'Aurangabad', 'Ghaziabad', 'Faridabad', 'Madhubani',
       'Sikar', 'Bhagalpur', 'Amritsar', 'Gurugram',
       'Gautam Buddha Nagar', 'West Delhi', 'Bhind', 'Gwalior', 'Katni',
       'Coochbehar', 'Lucknow', 'Dinajpur Uttar', 'Marigaon', 'Kokrajhar',
       'Agra', 'Haridwar', 'Nagaon', 'Parbhani', 'West Khasi Hills',
       'North West Delhi', 'West Jaintia Hills', 'Unnao', 'Saharanpur',
       'Dibrugarh', 'Udalguri', 'Chirang', 'Kamrup', 'Dhubri', 'Jaunpur',
       'Thane', 'Dhemaji', 'Banas Kantha', 'Tinsukia', 'Spsr Nellore',
       'Barpeta', 'Sonitpur', 'Baksa', 'Ludhiana', 'Patan', 'Kanchipuram',
       'Patna', 'Lakhimpur', 'Bongaigaon', 'Vadodara', 'Nainital',
       'Dehradun', 'Hojai', 'Dohad', 'Morbi', 'Raipur', 'Gorakhpur',
       'Bulandshahr', 'Mathura', 'Pashchim Champaran', 'Bijapur',
       'Deoghar', 'Muzaffarpur', 'Banda', 'Kachchh', 'Ri Bhoi', 'Darrang',
       'Ashok Nagar', 'Darjeeling', 'North Cachar Hills', 'Ranchi',
       'Surat', 'Nanded', 'Bengaluru', 'Jorhat', 'Gir Somnath',
       'Kamrup Metro', 'Goalpara', 'Bhavnagar', 'Golaghat', 'Nagpur',
       'Cooch Behar', 'Jalgaon', 'Hingoli', 'Ahmadnagar', 'Gandhinagar',
       'North 24 Parganas', 'Munger', 'Kohima', 'Jalor', 'Kheda',
       'Nalbari', 'Palghar', 'Jodhpur', 'Central Delhi', 'Gaya',
       'Sabarkantha', 'Dimapur', 'Cachar', 'Banaskantha', 'Kheri',
       'Rajkot', 'Satara', 'Betul', 'West Karbi Anglong', 'South Delhi',
       'Raigad', 'Uttar Dinajpur', 'Guna', 'Kaimur (Bhabua)', 'Dholpur',
       'Churachandpur', 'West Champaran', 'Bharuch', 'Jhargram',
       'Khargone', 'Chhotaudepur', 'Mumbai Suburban', 'Hailakandi',
       'Panchmahals', 'South Salmara Mankachar', 'Budaun', 'Kanpur Dehat',
       'Porbandar', 'West Garo Hills', 'Kapurthala', 'South Garo Hills',
       'Nagaur', 'Mysuru', 'Mahesana', 'Churu', 'Hyderabad',
       'Kancheepuram', 'Varanasi', 'Lohardaga', 'North Garo Hills',
       'Chhatarpur', 'Nadia', 'Purnia', 'Gurgaon', 'Charaideo', 'Jaipur',
       'Saran', 'Morena', 'Dhar', 'Dahod', 'Devbhumi Dwarka',
       'East Champaran', 'Tapi', 'Baghpat', 'Fatehpur',
       'South West Khasi Hills', 'Yadgir', 'Nandurbar', 'Etawah',
       'Jalpaiguri', 'Jabalpur', 'Shamli', 'Sibsagar', 'Barwani', 'Botad',
       'Junagadh', 'Balrampur', 'Bara Banki', 'Shivpuri', 'Beed',
       'Shahjahanpur', 'Jamnagar', 'Chandrapur', 'Durg',
       'K.v. Rangareddy', 'Sirohi', 'Alipurduar', 'South West Delhi',
       'Gonda', 'East Jaintia Hills', 'Bareilly', 'Bundi', 'Solapur',
       'Sitapur', 'Dumka', 'Sultanpur', 'Karbi Anglong', 'Bikaner',
       'Phek', 'Raisen', 'Shrawasti', 'East Delhi', 'Jhabua', 'Unakoti',
       'Indore', 'Bhopal', 'Dungarpur', 'Chandauli', 'Bharatpur',
       'Mainpuri', 'Godda', 'Muzaffarnagar', 'Siddharthnagar', 'Datia',
       'West Tripura', 'Medchal-malkajgiri', 'Sagar', 'Sheopur',
       'Arvalli', 'Surendra Nagar', 'Malda', 'Amreli', 'Alwar',
       'Ambedkar Nagar', 'Madurai', 'Pilibhit', 'Champhai', 'Valsad',
       'Pakur', 'Vaishali', 'Vidisha', 'Karimganj', 'Biswanath',
       'Burhanpur', 'Kaushambi', 'Pune', 'Punch', 'Jehanabad', 'Jalaun',
       'Etah', 'Meerut', 'Baran', 'Sangrur', 'Karauli', 'Anand',
       'Longleng', 'Chandigarh', 'Jamui', 'South Sikkim', 'Panna',
       'East Garo Hills', 'Jhalawar', 'Shahdara', 'Kalaburagi',
       'Thanjavur', 'Peren', 'Tuensang', 'Mahisagar', 'Hoshiarpur',
       'Noklak', 'Sukma', 'Khandwa', 'Ajmer', 'West Sikkim', 'Latur',
       'Basti', 'Satna', 'Gurdaspur', 'Hazaribagh', 'Azamgarh', 'Udaipur',
       'Kolkata', 'Rampur', 'The Dangs', 'East Singhbhum', 'Alirajpur',
       'SAS Nagar (Mohali)', 'South West Garo Hills', 'Moradabad', 'Kota',
       'Dewas', 'Navsari', 'Chumukedima', 'Ahmedabad', 'Nabarangapur',
       'Pali', 'Amroha', 'Saiha', 'Dakshin Dinajpur', 'Bijnor',
       'Pudukkottai', 'Bangalore Rural', 'Kalimpong', 'Deoria',
       'Baramula', 'Gopalganj', 'Prayagraj', 'Lalitpur', 'Mewat', 'Hapur',
       'Jammu', 'Bishnupur', 'Saharsa', 'Arwal', 'Hathras', 'Lawngtlai',
       'Nashik', 'Yavatmal', 'Cuddalore', 'Kollam', 'Patiala', 'Katihar',
       'Malappuram', 'Birbhum', 'Siwan', 'Dhule', 'Baloda Bazar',
       'Washim', 'Coimbatore', 'Lunglei', 'Imphal West', 'Kushinagar',
       'Thiruvananthapuram', 'Sangli', 'Ahmadabad', 'Lakhisarai',
       'Bengaluru Rural', '24 Paraganas North', 'Dima Hasao', 'Banka',
       'Salem', 'Dadra And Nagar Haveli', 'Dang', 'Kaithal', 'Vellore',
       'Shravasti', 'Nalanda', 'Jaisalmer', 'Kallakurichi', 'Farrukhabad',
       'Medinipur West', 'Araria', 'Sonipat', 'Chatra',
       'Gaurella Pendra Marwahi', 'Visakhapatanam', 'Buldhana',
       'Amravati', 'Hardoi', 'Dhalai', 'Ernakulam', 'New Delhi',
       'Bhilwara', 'Ramanathapuram', 'Mon', 'Raichur', 'North Delhi',
       'Rohtak', 'Gumla', 'Barmer', 'Kurukshetra', 'Nuh', 'Ashoknagar',
       'Thrissur', 'S.A.S Nagar', 'North East Delhi', 'Purba Bardhaman',
       'Ambala', 'Panipat', 'Darbhanga', 'Ayodhya', 'Khunti',
       'Medchal Malkajgiri', 'Sivasagar', 'Hisar', 'Sivaganga',
       'Siddharth Nagar', 'West Kameng', 'Kullu', 'Khordha', 'Barabanki',
       'Chengalpattu', 'Ahmednagar', 'Jalore', 'Nawada', 'Hooghly',
       '24 Paraganas South', 'Chennai', 'Surendranagar', 'Mumbai',
       'Nabarangpur', 'Sabar Kantha', 'Ramanagara', 'Wokha',
       'West Singhbhum', 'Sepahijala', 'Samastipur', 'Zunheboto',
       'East Singhbum', 'Sambhal', 'Chittorgarh', 'Panch Mahals', 'Bidar',
       'Tonk', 'Longding', 'Jhansi', 'Howrah', 'Raigarh', 'Giridih',
       'Akola', 'North Goa', 'Vijayapura', 'Begusarai', 'Ranga Reddy',
       'Thiruvallur', 'Bhadradri Kothagudem', 'Hanumangarh', 'Kannur',
       'Tarn Taran', 'Majuli', 'Balaghat', 'Kiphire', 'Dinajpur Dakshin',
       'East Nimar', 'Osmanabad', 'Dhanbad', 'Kasganj', 'Shopian',
       'Sehore', 'Kannauj', 'Narsinghpur', 'Bilaspur', 'Kolasib',
       'Sawai Madhopur', 'North Tripura', 'Kushi Nagar', 'Prakasam',
       'Bhojpur', 'Hoshangabad', 'Doda', 'Mokokchung', 'Gomati',
       'Krishna', 'Kurnool', 'Mahabub Nagar', 'Mahbubnagar', 'Medak',
       'N. T. R', 'Nalgonda', 'Nandyal', 'Nellore', 'Palnadu',
       'Rangareddi', 'Sri Potti Sriramulu Nellore', 'Sri Sathya Sai',
       'Srikakulam', 'Tirupati', 'Visakhapatnam', 'Vizianagaram',
       'Warangal', 'West Godavari', 'Y. S. R', 'Changlang', 'East Kameng',
       'Tawang', 'West Siang', 'Bajali', 'Sribhumi', 'Buxar', 'Khagaria',
       'Kishanganj', 'Madhepura', 'Rohtas', 'Sheohar', 'Supaul', 'Bastar',
       'Bemetara', 'Gariyaband', 'Jashpur', 'Kawardha', 'Kondagaon',
       'Korba', 'Manendragarh–Chirmiri–Bharatpur', 'Rajnandgaon', 'Sakti',
       'Sarangarh-Bilaigarh', 'Surajpur', 'Surguja',
       'Dadra and Nagar Haveli', 'South Goa', 'Narmada', 'Bhiwani',
       'Charkhi Dadri', 'Fatehabad', 'Jhajjar', 'Jind', 'Karnal',
       'Mahendragarh', 'Rewari', 'Sirsa', 'Yamuna Nagar', 'Hamirpur',
       'Kangra', 'Mandi', 'Sirmaur', 'Solan', 'Una', 'Anantnag', 'Badgam',
       'Bandipore', 'Budgam', 'Kargil', 'Kathua', 'Kupwara', 'Leh',
       'Pulwama', 'Rajouri', 'Ramban', 'Reasi', 'Samba', 'Srinagar',
       'Udhampur', 'Bokaro', 'Garhwa', 'Garhwa *', 'Hazaribag', 'Jamtara',
       'Latehar', 'Palamau', 'Palamu', 'Purbi Singhbhum', 'Ramgarh',
       'Sahebganj', 'Seraikela-Kharsawan', 'Seraikela-kharsawan',
       'Simdega', 'Bagalkot', 'Bagalkot *', 'Ballari', 'Bangalore',
       'Belagavi', 'Belgaum', 'Bellary', 'Chamarajanagar',
       'Chamrajanagar', 'Chamrajnagar', 'Chickmagalur', 'Chikkaballapur',
       'Chikkamagaluru', 'Chikmagalur', 'Chitradurga', 'Dakshina Kannada',
       'Davanagere', 'Davangere', 'Dharwad', 'Gadag', 'Gadag *',
       'Gulbarga', 'Hassan', 'Haveri', 'Kodagu', 'Kolar', 'Koppal',
       'Mandya', 'Mysore', 'Ramanagar', 'Shimoga', 'Shivamogga',
       'Tumakuru', 'Tumkur', 'Udupi', 'Uttara Kannada', 'Vijayanagara',
       'Alappuzha', 'Idukki', 'Kasaragod', 'Kasargod', 'Kottayam',
       'Kozhikode', 'Palakkad', 'Pathanamthitta', 'Wayanad', 'Agar Malwa',
       'Anuppur', 'Chhindwara', 'Damoh', 'Dindori', 'Harda', 'Maihar',
       'Mandla', 'Mandsaur', 'Narmadapuram', 'Narsimhapur', 'Neemuch',
       'Niwari', 'Rajgarh', 'Ratlam', 'Rewa', 'Seoni', 'Shahdol',
       'Shajapur', 'Sidhi', 'Singrauli', 'Tikamgarh', 'Ujjain',
       'West Nimar', 'Ahmed Nagar', 'Bhandara', 'Buldana',
       'Chhatrapati Sambhajinagar', 'Gadchiroli', 'Gondiya', 'Jalna',
       'Kolhapur', 'Mumbai City', 'Ratnagiri', 'Sindhudurg', 'Wardha',
       'Senapati', 'Tamenglong', 'Aizawl', 'Angul', 'Nicobar',
       'South Andaman', 'Adilabad', 'Alluri Sitharama Raju', 'Anakapalli',
       'Anantapur', 'Ananthapur', 'Ananthapuramu', 'Bapatla', 'Chittoor',
       'Cuddapah', 'Dr. B. R. Ambedkar Konaseema', 'East Godavari',
       'Eluru', 'Guntur', 'Kakinada', 'Karimnagar', 'Khammam', 'Anugul',
       'Balangir', 'Baleswar', 'Bargarh', 'Baudh', 'Bhadrak', 'Boudh',
       'Cuttack', 'Debagarh', 'Dhenkanal', 'Gajapati', 'Ganjam', 'JAJPUR',
       'Jagatsinghapur', 'Jagatsinghpur', 'Jajapur', 'Kalahandi',
       'Kandhamal', 'Kendrapara', 'Kendujhar', 'Khorda', 'Koraput',
       'Malkangiri', 'Mayurbhanj', 'Nayagarh', 'Nuapada', 'Puri',
       'Rayagada', 'Sambalpur', 'Sonapur', 'Subarnapur', 'Sundargarh',
       'Sundergarh', 'Baleshwar', 'Pondicherry', 'Karaikal', 'Puducherry',
       'Yanam', 'Barnala', 'Bathinda', 'Faridkot', 'Fatehgarh Sahib',
       'Ferozepur', 'Firozpur', 'Jalandhar', 'Malerkotla', 'Mansa',
       'Muktsar', 'Pathankot', 'Rupnagar', 'Shaheed Bhagat Singh Nagar',
       'Sri Muktsar Sahib', 'Banswara', 'Chittaurgarh', 'Dausa',
       'Ganganagar', 'Jhunjhunun', 'Pratapgarh', 'Rajsamand', 'East',
       'North Sikkim', 'South', 'Ariyalur', 'Dharmapuri', 'Dindigul',
       'Erode', 'Kanniyakumari', 'Kanyakumari', 'Karur', 'Krishnagiri',
       'Mayiladuthurai', 'Nagapattinam', 'Namakkal', 'Perambalur',
       'Ranipet', 'Tenkasi', 'The Nilgiris', 'Theni', 'Thiruvarur',
       'Thoothukkudi', 'Tiruchirappalli', 'Tirunelveli', 'Tirupattur',
       'Tiruppur', 'Tiruvallur', 'Tiruvannamalai', 'Villupuram',
       'Viluppuram', 'Virudhunagar', 'Hanumakonda', 'Jagitial', 'Jangoan',
       'Jayashankar Bhupalpally', 'Jogulamba Gadwal', 'Kamareddy',
       'Komaram Bheem', 'Mahabubabad', 'Mahabubnagar', 'Mancherial',
       'Medchal−malkajgiri', 'Mulugu', 'Nagarkurnool', 'Narayanpet',
       'Nirmal', 'Nizamabad', 'Peddapalli', 'Rajanna Sircilla',
       'Sangareddy', 'Siddipet', 'Suryapet', 'Vikarabad', 'Wanaparthy',
       'Warangal Rural', 'Warangal Urban', 'Yadadri.', 'Khowai',
       'South Tripura', 'Allahabad', 'Amethi', 'Auraiya', 'Ballia',
       'Bhadohi', 'Chitrakoot', 'Faizabad', 'Ghazipur', 'Mahoba', 'Mau',
       'Mirzapur', 'Rae Bareli', 'Sant Kabir Nagar', 'Sant Ravidas Nagar',
       'Sonbhadra', 'Almora', 'Bageshwar', 'Chamoli', 'Garhwal',
       'Pauri Garhwal', 'Pithoragarh', 'Rudraprayag', 'Tehri Garhwal',
       'Udham Singh Nagar', 'Uttarkashi', 'Bankura', 'Barddhaman',
       'Bardhaman', 'Darjiling', 'East Midnapore', 'Haora', 'Koch Bihar',
       'Maldah', 'Murshidabad', 'North Twenty Four Parganas',
       'Paschim Bardhaman', 'Paschim Medinipur', 'Purba Medinipur',
       'Purulia', 'Puruliya', 'South 24 Parganas', 'South Dinajpur',
       'South Twenty Four Parganas', 'West Midnapore', 'North East',
       'Parvathipuram Manyam', 'Kurung Kumey', 'Lohit',
       'Lower Dibang Valley', 'Papum Pare', 'Upper Siang',
       'Aurangabad(bh)', 'Purba Champaran', 'Purnea', 'Sheikhpura',
       'Balod', 'Dhamtari', 'Gaurela-pendra-marwahi', 'Janjgir-champa',
       'Kabeerdham', 'Kanker', 'Khairagarh Chhuikhadan Gandai', 'Koriya',
       'Mahasamund', 'Mohla-Manpur-Ambagarh Chouki', 'Mungeli',
       'Narayanpur', 'Palwal', 'Chamba', 'Shimla', 'Ganderbal', 'Kodarma',
       'Pakaur', 'Sahibganj', 'Hasan', 'yadgir', 'Lakshadweep', 'Harda *',
       'Mauganj', 'Umaria', 'Chatrapati Sambhaji Nagar',
       'Mumbai( Sub Urban )', 'Nandurbar *', 'Imphal East', 'Thoubal',
       'Ukhrul', 'Eastern West Khasi Hills', 'Mamit', 'Serchhip',
       'Andamans', 'North And Middle Andaman', 'Annamayya',
       'K.V.Rangareddy', 'Karim Nagar', 'Rangareddy', 'Bulandshahar',
       'Hugli', 'North Dinajpur', 'Jharsuguda', 'Fazilka', 'Moga',
       'North', 'Chandel', 'Kakching', 'S.A.S Nagar(Mohali)', 'Jhunjhunu',
       'East Sikkim', 'West', 'Lower Subansiri', 'Namsai', 'Sheikpura',
       'Dakshin Bastar Dantewada', 'Dadra & Nagar Haveli', 'Daman',
       'Panchkula', 'Kishtwar', 'Shupiyan', 'Pashchimi Singhbhum',
       'Pandhurna', 'Bid', 'Gondiya *', 'Jyotiba Phule Nagar',
       'Sant Ravidas Nagar Bhadohi', 'HOOGHLY', 'Meluri', 'Dhaulpur',
       'Anjaw', 'East Siang', 'Tamulpur District', 'Dantewada', 'Koderma',
       'Chamarajanagar *', 'Dharashiv', 'Gondia', 'Dhalai  *', 'Kulgam',
       'Jiribam', 'Saitual', 'NUAPADA', 'Kra Daadi', 'Upper Subansiri',
       'Bhabua', 'Champawat', 'Kamle', 'Haveri *', 'Mammit', 'Shamator',
       'Nawanshahr', 'Jangaon', 'NADIA', 'Monghyr', 'Uttar Bastar Kanker',
       'South East Delhi', 'Samstipur', 'Diu', 'Najafgarh', 'Kinnaur',
       'Tuticorin', 'Warangal (urban)', 'Siang', 'Tirap', 'Namchi',
       'HOWRAH', 'Hardwar', 'Niuland', 'Shi-yomi', 'Khawzawl',
       'Janjgir - Champa', 'Lahul and Spiti', 'Janjgir Champa',
       'Washim *', 'Nicobars', 'Lower Siang', 'Yamunanagar',
       'Lahul & Spiti', 'Jhajjar *', 'ANUGUL', 'Raebareli', 'Hawrah',
       'jajpur', 'Aurangabad(BH)', 'Bengaluru South', 'Raigarh(MH)',
       'MALDA', 'Tirupathur', 'Dibang Valley', 'hooghly', 'rangareddi',
       'Deeg\xa0', 'Leparada', 'Medchal?malkajgiri', 'Medinipur',
       'Mohalla-Manpur-Ambagarh Chowki', 'Tseminyu', 'Jajpur',
       'Mahrajganj', 'Hnahthial', 'Pakke Kessang', 'chittoor',
       'Kushinagar *', 'Tiruvarur', 'East Midnapur', 'nadia', 'Hingoli *',
       'North East   *', 'Bardez', 'Namakkal   *', 'Hooghiy', 'Pherzawl',
       'Jaintia Hills', 'KOLKATA', 'West Medinipur', 'Lahaul and Spiti',
       'Burdwan', 'Bandipur', 'Mangan', 'South 24 parganas',
       'Leh (ladakh)', 'Bokaro *', 'South 24 Pargana', 'Deeg', 'Anugal',
       'Udupi *', 'Kendrapara *', 'Rajauri', 'Bijapur(KAR)', 'Bagpat',
       'punch', 'ANGUL', 'Balotra', 'Ahilyanagar', 'Didwana-Kuchaman',
       'Salumbar', 'Beawar'], dtype=object)

In [35]:
df['district'] = (
    df['district']
    .astype(str)
    .str.strip()
    .str.lower()
    .str.replace('&', 'and', regex=False)
    .str.replace(r'\*', '', regex=True)
    .str.replace(r'\(.*?\)', '', regex=True)
    .str.replace(r'\s+', ' ', regex=True)
    .str.strip()
)

In [36]:
district_mapping = {
    
    'coochbehar': 'Cooch Behar',
    'burdwan': 'Burdwan',
    'south 24 parganas': 'South 24 Parganas',
    'south 24 pargana': 'South 24 Parganas',
    'north 24 parganas': 'North 24 Parganas',
    'dinajpur uttar': 'Uttar Dinajpur',
    'dinajpur dakshin': 'Dakshin Dinajpur',

    
    'purbi champaran': 'East Champaran',
    'pashchim champaran': 'West Champaran',

    
    'banas kantha': 'Banaskantha',
    'dohad': 'Dahod',

    
    'anugal': 'Angul',
    'angul': 'Angul',

    
    'punch': 'Poonch',

    
    'bijapur': 'Vijayapura'
}

In [37]:
df['district'] = (
    df['district']
    .map(district_mapping)
    .fillna(df['district'].str.title())
)

In [38]:
df['district'].nunique()

926

In [39]:
df.groupby('state')['district'].nunique().sort_values(ascending=False).head()

state
Uttar Pradesh     88
Madhya Pradesh    60
Karnataka         48
Maharashtra       47
Andhra Pradesh    47
Name: district, dtype: int64

In [40]:
pd.Series(df['district'].unique()).sort_values().to_csv(
    "unique_districts_cleaned.csv", index=False
)

In [43]:
temp_df = pd.read_csv('unique_districts_cleaned.csv')
temp_df

                      0
0    24 Paraganas North
1    24 Paraganas South
2              Adilabad
3            Agar Malwa
4                  Agra
..                  ...
921        Yamuna Nagar
922         Yamunanagar
923               Yanam
924            Yavatmal
925           Zunheboto

[926 rows x 1 columns]

In [7]:
aadhar_raw.duplicated().sum()

np.int64(22957)

In [8]:
total_rows = len(aadhar_raw)
dup_rows = aadhar_raw.duplicated().sum()

dup_rows, total_rows, dup_rows / total_rows

(np.int64(22957), 1006029, np.float64(0.022819421706531322))

In [9]:
dups = aadhar_raw[aadhar_raw.duplicated(keep=False)]
dups.head(10)

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
359389,13-10-2025,Punjab,Jalandhar,144041,2,1,0
359390,13-10-2025,Punjab,Jalandhar,144101,1,0,0
359391,13-10-2025,Punjab,Jalandhar,144102,2,0,0
359392,13-10-2025,Punjab,Jalandhar,144418,1,0,0
359393,13-10-2025,Punjab,Jalandhar,144419,1,0,0
359394,13-10-2025,Punjab,Jalandhar,144702,1,1,0
359395,13-10-2025,Punjab,Jalandhar,144801,0,1,0
359396,13-10-2025,Punjab,Kapurthala,144401,5,1,1
359397,13-10-2025,Punjab,Kapurthala,144601,4,2,2
359398,13-10-2025,Punjab,Kapurthala,144804,2,0,0

In [10]:
dups.groupby(dups.columns.tolist()).size().value_counts().head()

2    22957
Name: count, dtype: int64

In [11]:
# dropping duplicates
aadhar_clean = aadhar_raw.drop_duplicates()
aadhar_clean.shape

(983072, 7)

In [12]:
aadhar_clean.duplicated().sum()

np.int64(0)

### Note:
Post loading, the dataset was validated for schema consistency, data types, and exact duplicate records. Identified duplicates arising from file-level overlaps were removed to prevent artificial inflation of enrolment counts, ensuring analytical accuracy

## Feature Engineering

In [13]:
df = aadhar_clean
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [15]:
df.dtypes

date              object
state             object
district          object
pincode            int64
age_0_5            int64
age_5_17           int64
age_18_greater     int64
dtype: object

In [18]:
df = df.copy()
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 983072 entries, 0 to 1006028
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            983072 non-null  datetime64[ns]
 1   state           983072 non-null  object
 2   district        983072 non-null  object
 3   pincode         983072 non-null  int64
 4   age_0_5         983072 non-null  int64
 5   age_5_17        983072 non-null  int64
 6   age_18_greater  983072 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 60.0+ MB

In [20]:
df['month'] = df['date'].dt.to_period('M')

In [22]:
df['total_enrollments'] = (
    df['age_0_5']
    + df['age_5_17']
    + df['age_18_greater']
)

In [25]:
df['share % 0-5'] = (
    df['age_0_5'] / df['total_enrollments']
)*100

In [27]:
df['share % 5-17'] = (
    df['age_5_17'] / df['total_enrollments']
)*100

In [29]:
df['share % 18+'] = (
    df['age_18_greater'] / df['total_enrollments']
)*100

In [37]:
df['highest_share'] = df[
    ['share % 0-5', 'share % 5-17', 'share % 18+']
].idxmax(axis=1)

In [38]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,month,total_enrollments,share % 0-5,share % 5-17,share % 18+,highest_share
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37,2025-03,109,10.091743,55.963303,33.944954,share % 5-17
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39,2025-03,86,16.279070,38.372093,45.348837,share % 18+
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12,2025-03,123,23.577236,66.666667,9.756098,share % 5-17
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15,2025-03,106,58.490566,27.358491,14.150943,share % 0-5
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21,2025-03,51,27.450980,31.372549,41.176471,share % 18+

### Note:
   Feature engineering was performed to transform raw enrolment records into analytically meaningful variables by standardising temporal attributes, deriving demographic composition metrics, and identifying dominant age-group patterns at a granular geographic level.
   
   This phase established a structured, time-aware, and demographic-aware dataset, enabling robust univariate, bivariate, and trivariate analyses without introducing aggregation bias or interpretational ambiguity.

## Data Aggregation & Preparation for Analysis

#### I. District–Month Level Aggregation

In [39]:
district_month = df[
    ['state', 'district', 'month']
]

In [40]:
district_month = (
        df
    .groupby(['state', 'district', 'month'], as_index=False)
    .agg({
        'total_enrollments': 'sum',
        'age_0_5': 'sum',
        'age_5_17': 'sum',
        'age_18_greater': 'sum'
    })
)

In [44]:
district_month

,state,district,month,total_enrollments,age_0_5,age_5_17,age_18_greater
0,100000,100000,2025-09,12,0,0,12
1,100000,100000,2025-10,1,0,1,0
2,100000,100000,2025-11,11,0,0,11
3,100000,100000,2025-12,190,0,0,190
4,Andaman & Nicobar Islands,Andamans,2025-09,27,23,4,0
...,...,...,...,...,...,...,...
5057,Westbengal,Hooghly,2025-12,1,1,0,0
5058,andhra pradesh,chittoor,2025-09,1,1,0,0
5059,andhra pradesh,chittoor,2025-10,2,2,0,0
5060,andhra pradesh,chittoor,2025-12,1,1,0,0
5061,andhra pradesh,rangareddi,2025-09,1,1,0,0

### II. State-Month Level Aggregation

In [45]:
state_month = (
        df
    .groupby(['state','month'], as_index=False)
    .agg({
        'total_enrollments': 'sum',
        'age_0_5': 'sum',
        'age_5_17': 'sum',
        'age_18_greater': 'sum'
    })
)

In [46]:
state_month

,state,month,total_enrollments,age_0_5,age_5_17,age_18_greater
0,100000,2025-09,12,0,0,12
1,100000,2025-10,1,0,1,0
2,100000,2025-11,11,0,0,11
3,100000,2025-12,190,0,0,190
4,Andaman & Nicobar Islands,2025-09,43,39,4,0
...,...,...,...,...,...,...
318,Westbengal,2025-11,1,0,1,0
319,Westbengal,2025-12,1,1,0,0
320,andhra pradesh,2025-09,2,2,0,0
321,andhra pradesh,2025-10,2,2,0,0
322,andhra pradesh,2025-12,1,1,0,0

### Note:
The feature-engineered dataset was aggregated into structured analytical tables to support univariate, bivariate, and trivariate analysis. A district–month level table was created as the primary dataset to capture granular spatial and temporal patterns, while a state–month level table was derived as a secondary roll-up for contextual comparison across states.